section.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    &--shirts {
        max-width: 450px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    &--arrow {
        display: none;

        @media(min-width: 768px) {
            max-width: 75px;
            display: inline-block;
        }

    }
}